:root {
	--small-gap: 3px;
	--large-gap: 6px;
}

/* Do not Mirror */
.mirror-2qdBDS {transform: none}

/* Emoji Fix */
.guildSection-2Zyzy8 > .flex-2S1XBF > svg {
    flex-shrink: 0;
}

/* Channel Fix */
.topic-11NuQZ > .wrapper-1ZcZW- > .channelIcon-3I2O7O,
.embedFooterText-2Mc7H9 > .wrapper-1ZcZW- > .channelIcon-3I2O7O {
    width: calc(1.05rem * 1.05 / 1.3);
    height: 1.05rem;
}

/* Emoji Scaling */
img.emote {
    text-indent: 0;
    white-space: nowrap;
    width: auto;
    position: relative;
    top: 0.25ex;
}

/* Stickers */
.pngImage-1vIgLy.stickerAsset-4c7Oqy {border-radius: 10px;}

/* File Icon */
.audioMetadata-1Hrt8T::before {
    min-width: 24px;
}

/* Message Attatchments */
.messageAttachment-CZp8Iv {
    max-width: 100%;
    min-width: 0;
}

/* Search Header */
.searchHeader-1r_ZSh {
background-color: var(--background-secondary);
}

/* Unread */
.isUnread-3Lojb- {border-color:transparent !important;} 
.app-focused .isUnread-3Lojb- {border-color: #f04747 !important;}

/* Do not copy Username */
.header-2jRmjb{
  user-select:none;
}

/* Center a whole lot of shit */
.tabs-1RhQha {justify-content: center;}
.name-3YKhmS{ text-align: center; }
.membersGroup-2eiWxl .container-q97qHp {align-content: center;}

.textBadge-1fdDPJ {display: none;}

/* ╔═══════════════════════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║                                               More Fixes                                                  ║ */
/* ╚═══════════════════════════════════════════════════════════════════════════════════════════════════════════╝ */


.title-x4dI75.container-q97qHp, .headerText-1qIDDT {
	display: flex;
	justify-content: center;
}

/* Active Now */
.defaultColor-24IHKz.heading-lg-medium-3gUJeM.defaultColor-HXu-5n.header-Imy05m {
	display: flex;
	justify-content: center;
}

.itemCard-3Etziu.wrapper-2RrXDg.outer-2JOHae.padded-2NSY6O.interactive-2zD88a {
	background-color: var(--background-tertiary);
}
.headerFull-34WFWN.header-3jUeHi {
	background-color: var(--background-primary);
	border-radius: 10px;
	padding: 10px;
}

.defaultColor-24IHKz.text-md-normal-304U3g.sectionTitle-2AR_TY.textContent-TsKzji {text-transform: capitalize;}
.defaultColor-24IHKz.text-sm-normal-3Zj3Iv.sectionTitle-2AR_TY.textContent-TsKzji {text-transform: capitalize;}
.defaultColor-24IHKz.text-xs-normal-3SiVjE.textContent-TsKzji {text-transform: capitalize;}

.section-3G9aLW {background-color: var(--background-primary);}
.largeImage-2EIggm.borderRadius0-1BDqiC {border-radius: 5px !important;}

/* Members */


/* Categories */
.containerDefault-3TQ5YN {
	display: flex;
	justify-content: center;
	background-color: var(--background-primary);
	border-radius: var(--radius-primary);
	margin-top: var(--layout-margin-top);
	margin-bottom: var(--small-gap);
	margin-left: var(--layout-margin-left);
	padding: var(--small-gap) 0;
} 

.name-3BUDLf.container-q97qHp {color: var(--interactive-normal);}

/* Channels */
.content-1gYQeQ {
	background-color: var(--background-primary);
	border-radius: var(--radius-primary);
	margin-top: var(--small-gap);
	margin-bottom: var(--small-gap);
	padding-left: var(--layout-margin);
}

/* Members */
.member-2gU6Ar.container-1oeRFJ.clickable-28SzVr {
	background-color: var(--background-primary);
	border-radius: var(--radius-primary) !important;
	margin-top: var(--large-gap);
	margin-bottom: var(--large-gap);
	margin-right: var(--layout-margin-right);
}

/* Members Header */
.membersGroup-2eiWxl.container-q97qHp {
	display: flex;
	justify-content: center;
	background-color: var(--background-primary) !important;
	color: var(--interactive-normal);
	border-radius: var(--radius-primary);
	margin: var(--layout-margin) 8px;
	padding-top: 14px;
}

/* Friends */
.interactive-1vLZ_I.interactive-iyXY_x {
	background-color: var(--background-primary);
	color: var(--interactive-normal);
	width: 110%;
	margin: var(--small-gap);
}
