img[src="/assets/9a43e631d506ae4818ecefc825dc02ad.svg"],
button[data-name~=heavy_plus_sign] div,
img[src="/assets/13c8662cff8e029799a35878b56e23eb.svg"],
button[data-name~=heavy_minus_sign] div,
img[src="/assets/e37bc714ecd911af7c558f5aaa0c4464.svg"],
button[data-name~=ant] div,
img[src="/assets/d6e12f410c99374f88879450daaaced9.svg"],
button[data-name~=spider] div,
img[src="/assets/a784784c984905c2a74507d57aa3523e.svg"],
button[data-name~=black_cat] div,
img[src="/assets/f34c63197816c3e60bea4a9537c5fffa.svg"],
button[data-name~=telephone_receiver] div,
img[src="/assets/05a1abc6388a96e2a536650433c12fca.svg"],
button[data-name~=video_camera] div,
img[src="/assets/f1426431eb7c60fb8c072f90acb07ceb.svg"],
button[data-name~=video_game] div,
img[src="/assets/733a0db94b390b2fd5da87408285a079.svg"],
button[data-name~=movie_camera] div,
img[src="/assets/654212b1a4cdf391b4a8bb37faf7d18c.svg"],
button[data-name~=projector] div,
img[src="/assets/16520d89e684777eedd536346015e71f.svg"],
button[data-name~=electric_plug] div,
img[src="/assets/22bbea32f8826e963038329aee825bc1.svg"],
button[data-name~=chess_pawn] div,
img[src="/assets/1d2dc7d83ed3182e3348d4f216c15c87.svg"],
button[data-name~=eight_pointed_black_star] div,
img[src="/assets/3d663bbe9d97bc976c24ec4d125fe2b3.svg"],
button[data-name~=heavy_division_sign] div,
img[src="/assets/133b77ff9fc321682fed3cde12d6355c.svg"],
button[data-name~=heavy_multiplication_x] div,
img[src="/assets/1679bb713b6a99e6ddf111d45400be3a.svg"],
button[data-name~=heavy_dollar_sign] div,
img[src="/assets/da56d5c7e4409c0c1640ff6ba21ec1ad.svg"],
button[data-name~=currency_exchange] div,
img[src="/assets/502afa9807a8da920a357e25c14da10a.svg"],
button[data-name~=wavy_dash] div,
img[src="/assets/48c9c24b660f8c392a56f8d28c86f1c3.svg"],
button[data-name~=curly_loop] div,
img[src="/assets/6a86f8cca40da89386aa7e9eca926da7.svg"],
button[data-name~=end] div,
img[src="/assets/6c928e43c553124e23e45c31c6ddbece.svg"],
button[data-name~=back] div,
img[src="/assets/b8b439115436db0c0bbff081749a1ddb.svg"],
button[data-name~=on] div,
img[src="/assets/fa259978fede6539d40db4b59a2b0f66.svg"],
button[data-name~=top] div,
img[src="/assets/b3f45308df051ef73d8cf63ffe0976c3.svg"],
button[data-name~=soon] div,
img[src="/assets/7b3ff12d16d96ca77345da9450986dc7.svg"],
button[data-name~=heavy_check_mark] div,
img[src="/assets/6278365424fa5701d3b185e2d9fe8225.svg"],
button[data-name~=black_circle] div,
img[src="/assets/60c5854fe77ca7a4946b7c801c559f4a.svg"],
button[data-name~=black_small_square] div,
img[src="/assets/7d4f02f7354aee0b30e7e5a35579fff4.svg"],
button[data-name~=black_medium_small_square] div,
img[src="/assets/b6a3073e1281d1ef79d48ef130c183b2.svg"],
button[data-name~=black_medium_square] div,
img[src="/assets/d0e23cdf2386056cc64e775a6248ed17.svg"],
button[data-name~=black_large_square] div,
img[src="/assets/3fe9fcacdbee990bd0d873135689bd5b.svg"],
button[data-name~=spades] div,
img[src="/assets/b67a375a6b8f5caeacff463835c44011.svg"],
button[data-name~=clubs] div,
img[src="/assets/d91cb297561a6bc50f8c6918d428bc61.svg"],
button[data-name~=black_heart] div,
img[src="/assets/31ef50db484eb3d4b2fbebb4e91a0764.svg"],
button[data-name~=bomb] div,
img[src="/assets/31123922fb35c46cb2f8daa1cf4899a5.svg"],
button[data-name~=tophat] div,
img[src="/assets/89641ebba191be23dc9a725ae84007ca.svg"],
button[data-name~=mortar_board] div,
img[src="/assets/7d15a79b1f1d1a18e9fc874a084c6d6c.svg"],
button[data-name~=dark_sunglasses] div,
img[src="/assets/06abe2c5f92d0dfc5d66446cb4e1e83b.svg"],
button[data-name~=water_buffalo] div,
img[src="/assets/7366fdb7c5d9143057318249297a13bc.svg"],
button[data-name~=bowling] div,
img[src="/assets/0e7fc4b6265bd336e8fe4dca75417ee7.svg"],
button[data-name~=musical_score] div,
img[src="/assets/d4b1476ff922b0ef6ac41ea825cf2705.svg"],
button[data-name~=stethoscope] div,
img[src="/assets/0542c8e0343df05c3d32b8694aec066a.svg"],
button[data-name~=hole] div,
img[src="/assets/e14bea9653868307f4d1e70fa17e2535.svg"],
button[data-name~=key2] div,
img[src="/assets/5d831ad22096d754a2d4961374aa9f7a.svg"],
button[data-name~=pen_fountain] div,
img[src="/assets/3fe596b04c5915b21f6cc16a1f50ceab.svg"],
button[data-name~=black_nib] div,
img[src="/assets/53d700db9e5fbb461663685b813156df.svg"],
button[data-name~=flag_black] div,
img[src="/assets/b5f4153866352d28e665cff0c44f36c0.svg"],
button[data-name~=ninja] div,
img[src="/assets/31123922fb35c46cb2f8daa1cf4899a5.svg"],
button[data-name~=tophat] div,
img[src="/assets/618ca8489ae1ab5f94fde2e3a7fb2c0c.svg"],
button[data-name~=turkey] div,
img[src="/assets/7366fdb7c5d9143057318249297a13bc.svg"],
button[data-name~=bowling] div,
img[src="/assets/d5b6040243084dc53e2baa2acf9af348.svg"],
button[data-name~=joystick] div,
img[src="/assets/435f9f150f67f68ca9e254d80a38f33c.svg"],
button[data-name~=floppy_disk] div,
img[src="/assets/d5818f5fa376321c8bef87324c160ed8.svg"],
button[data-name~=vhs] div,
img[src="/assets/6c895a6898d73cc30959ac78c67c2ddf.svg"],
button[data-name~=camera] div,
img[src="/assets/0c57febf44dbbb019c6fd75b05837495.svg"],
button[data-name~=camera_with_flash] div,
img[src="/assets/cbf0c56a2f3c861877b0de6f7fe8c24f.svg"],
button[data-name~=pager] div,
img[src="/assets/3a36caf1fd1fce61581d2250b8459314.svg"],
button[data-name~=tv] div,
img[src="/assets/a9e13a28157a6568d203df8fcf754230.svg"],
button[data-name~=radio] div,
img[src="/assets/41e47bdc538a48f4ecdde53dc73e4e9b.svg"],
button[data-name~=black_square_button] div {
    filter: drop-shadow(0px 0px 0.5px white)
}