@keyframes warningflash {
    0% {
      box-shadow: 0 2px 10px rgba(240,71,71,0.2),0 0 0 2px rgba(240,70,70,0.3);
    }
  
    70% {
      box-shadow: 0 0 20px 15px rgba(240,71,71,0.1),0 0 0 6px rgba(240,70,70,0.2);
    }
  
    100% {
      box-shadow: 0 0 20px 15px rgba(240,71,71,0),0 0 0 6px rgba(240,24,70,0.1);
    }
  }
  
  .theme-light [aria-controls="appearance-tab"],
  .theme-light .app-2CXKsg .container-YkUktl > .noWrap-hBpHBz > .button-12Fmur:nth-child(3) {
    animation: warningflash 1s ease infinite;
    border: 2px solid #F04747; 
  } 

    .theme-light .children-1xdcWE > .marginTop40-Q4o1tS:nth-child(2) > div > div[tabindex="-1"]:not(:nth-child(3)) {
    animation: warningflash 1s ease infinite;
	border: 2px solid #F04747;
  }

.theme-light #user-settings-cog-Appearance {
  animation: warningflash 1s ease infinite;
  border: 2px solid #F04747!important; 
}
.theme-light #user-settings-cog-Appearance--dark {
  animation: warningflash 1s ease infinite;
  border: 2px solid #F04747!important; 
}


#app-mount > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div > div > div.base-2jDfDU::before {
  display: none;
  position: relative;
  content: "Powercord is currently out of date or broken! Please wait for more infomartion in the Powercord server! "!important;
  background-color: blue;
  color: #fff;
  border-radius: var(--radius-primary) !important;
  width: 1225px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  z-index: 999999;
}

#app-mount > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div > div > div.base-2jDfDU::before {
  display: none;
  position: relative;
  content: var(--info-name) " is out of date or broken! Please update to " var(--info-latest) "!" !important;
  background-color: var(--rs-dnd-color);
  color: #fff;
  border-radius: var(--radius-primary) !important;
  width: 1225px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  z-index: 999999;
}

#app-mount > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div > div > div.base-2jDfDU::before {
  display: none;
  position: relative;
  content: var(--info-author) " has made some new changes! Please reload your client to receive the new changes!" !important;
  background-color: var(--rs-dnd-color);
  color: #fff;
  border-radius: var(--radius-primary) !important;
  width: 1225px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  z-index: 999999;
}

#app-mount > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div > div > div.base-2jDfDU::before {
  display: none;
  position: relative;
  content: "Discord is currently broken! Please wait for more infomation!"  !important;
  background-color: var(--rs-dnd-color);
  color: #fff;
  border-radius: var(--radius-primary) !important;
  width: 1225px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  z-index: 999999;
}


.theme-light #app-mount > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div > div > div.base-2jDfDU::before {
  display: block;
  position: relative;
  content: "ERROR! You need to enable Darkmode for this theme to work! Please go into Settings > Apperance!" !important;
  background-color: var(--rs-dnd-color);
  color: #fff;
  border-radius: var(--radius-primary) !important;
  width: 1225px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  z-index: 999999;
}