/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Version                  ║ Base                                                                                  ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝
*/

:root {
	--info-name: var(--name, "Native");
	--info-skin: var(--skin, "Default");
	--info-style: var(--style, "Default");
	--info-shape: var(--shape, "Default");
	--info-client: var(--client, "Unknown")
	--info-author: var(--author, "Nate's World");
	--info-tag: var(--tag, "#2102");
	--info-current: var(--current, "DEV");
	--info-latest: var(--latest, var(--info-current));
}

/* Badge */
[aria-label="Servers"]::before {
	display: flex;
	justify-content: center;
	content: var(--current);
	background-color: var(--background-primary);
	color: var(--interactive-normal);
	border-radius: var(--radius-primary);
	height: 25px;
	width: 50px;
	margin: 0 var(--layout-margin);
	margin-bottom: calc(var(--layout-margin-bottom)*2);
	padding-top: var(--layout-margin-top);
}

/* Divider */
[aria-label="Servers"]::after {
    content: "";
    position: absolute;
    top: 235px;
	bottom: calc(var(--layout-margin-bottom)*2);
	margin-left: 12px;
    width: 70%;
    border-top: 3px var(--background-modifier-accent) solid;
    pointer-events: none;
}

/* Settings Info */
.info-3pQQBb {
	text-transform: none;
}

.info-3pQQBb .size12-3cLvbJ {
	text-transform: capitalize;
}

.info-3pQQBb span:nth-child(1):first-letter {text-transform: capitalize;}

.info-3pQQBb::after {
	content: var(--current-info) var(--latest-info) "Theme: " var(--info-name) " " var(--info-current) !important;
	color: var(--text-muted);
	display: block;
	font-size: 12px;
	margin-top: 10px;
}

.info-3pQQBb::before {
	content: "Skin: " var(--info-skin) !important;
	color: var(--text-muted);
	display: block;
	font-size: 12px;
	position: absolute;
	margin-top: 95px;
}

.socialLinks-3ywLUf::before {
	content: "Style: " var(--info-style) var(--info-shape) !important;
	color: var(--text-muted);
	display: block;
	font-size: 12px;
	position: absolute;
	margin-top: 145px;
}

.socialLinks-3ywLUf::after {
	content: "Made with ❤ by " var(--info-author) !important;
	color: var(--text-muted);
	display: block;
	font-size: 12px;
	position: absolute;
	margin-top: 150px;
	padding-bottom: 20px;
}